<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Makale Yönetimi /</span> Makale Ekle</h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="card-body">
                        <label for="defaultFormControlInput" class="form-label">Makale Yönetimi</label>
                        <input type="text"
                               class="form-control"
                               id="defaultFormControlInput"
                               placeholder="John Doe"
                               aria-describedby="defaultFormControlHelp" />                       
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>